img{
    width: 400px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    padding-top: 20px;
    background-color:black;


}
p{
    color: rgb(255, 255, 255);
    text-align: justify;
}
h1{
    font-size: 100px;
    color: #dc4400;
}