<div class="header">
    <div class="welcome">
        <div class="header-title">
    <h1>
        <span class="auto">AUTO</span> <span class="showroom">SHOWROOM</span>
    </h1>
</div>
        <h2>Best cars worldwide </h2>
        <ul class="orange-dots">
    <li>Latest cars</li>
    <li>Best engines</li>
    <li>Unlimited brands</li>
    <li>Limited editions</li>
</ul>
    </div>
    <div class="images">
        <img src="A3.webp"  alt="">
        <img src="Q3.webp"  alt="">
        <img src="RANGE.webp"  alt="">
    </div>
    
</div>